<h1> <%=@post.title%> </h1>

<br>
<%=@post.url%>
<br>
<%=@post.content%>
<br>
Posted by <%=@post.author.email%>
<br>
Associated Subforums:
<% @post.subs.each do |sub| %>
  <br>
  <%= link_to sub.title, sub_url(sub) %>
<% end %>
<br>
Comments:
<ul>
<% @comments_by_parent_id[nil].sort { |a, b| b.score <=> a.score }.each do |comment| %>
  <br>
    <li>
      <%= button_to "Upvote", upvote_comment_url(comment) %>
      <%= button_to "Downvote", downvote_comment_url(comment) %>
      <%= render 'comment', comment: comment %>
    </li>
<% end %>
</ul>
<% if @post.author == current_user %>
<%= button_to "Edit Post", edit_post_url(@post), method: :get %>
<% end %>
<br>
<%= render "comments/form" %>
