<h1> <%=@post.title%> </h1>

<br>
<%=@post.url%>
<br>
<%=@post.content%>
<br>
Posted by <%=@post.author.email%>
<br>
Associated Subforums:
<% @post.subs.each do |sub| %>
  <br>
  <%= link_to sub.title, sub_url(sub) %>
<% end %>
<br>
Comments:
<ul>
<% @all_comments.each do |comment| %>
  <br>
  <% if comment.parent_comment_id.nil? %>
    <li><%= render 'comment', comment: comment %></li>
  <% end %>
<% end %>
</ul>
<% if @post.author == current_user %>
<%= button_to "Edit Post", edit_post_url(@post), method: :get %>
<% end %>
<br>
<%= render "comments/form" %>
